* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

/* utilities */

.row {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.col-33 {
    width: calc(100% / 3);
    display: flex;
}

.col-50 {
    width: 50%;
    display: flex;
}

label {
    color: white;
    padding: 5px;
}

.discount {
    background-color: red;
    position: absolute;
    bottom: 50px;
    left: 0;
}

.sustainability {
    background-color: green;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.favourite {
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0px;
}

.new-price {
    color: red;
}

.old-price {
    font-size: 15px;
    text-decoration: line-through;
}

/* sezione header */

header {
    background-color: rgb(255, 105, 0);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
}

header .col-33.left {
    align-items: center;
}

header li {
    margin-right: 5px;
}

header .col-33.center {
    align-items: center;
    justify-content: center;
}

header img {
    height: 3em;
}

header .col-33.right {
    align-items: center;
    justify-content: flex-end;
}

header i {
    margin-left: 5px;
}

/* main */

.container-cards {
    margin: 150px 0;
}

.container-cards .row {
    flex-wrap: wrap;
}

main .col-33 {
    margin: 0 10px 50px 0;
    width: calc(100% / 3 - 10px);
}

.card {
    width: 100%;
}

.card img {
    width: 100%;
}

.image {
    position: relative;
}

/* prima card */

#img1b {
    display: none;
}

#img1:hover {
    display: none;
}

#img1:hover + #img1b {
    display: block;
}

/* seconda card */

#img2b {
    display: none;
}

#img2:hover {
    display: none;
}

#img2:hover + #img2b {
    display: block;
}

/* terza card */

#img3b {
    display: none;
}

#img3:hover {
    display: none;
}

#img3:hover + #img3b {
    display: block;
}

/* quarta card */

#img4b {
    display: none;
}

#img4:hover {
    display: none;
}

#img4:hover + #img4b {
    display: block;
}

/* quinta card */

#img5b {
    display: none;
}

#img5:hover {
    display: none;
}

#img5:hover + #img5b {
    display: block;
}

/* sesta card */

.col-33:last-of-type .sustainability {
    left: 0px;
}

#img6b {
    display: none;
}

#img6:hover {
    display: none;
}

#img6:hover + #img6b {
    display: block;
}

/* footer */

footer {
    height: 60px;
    color: white;
    background-color: rgb(26, 26, 26);
    border-bottom: 2px solid rgb(196, 196, 196);
}

footer h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

footer ul {
    font-size: 10px;
    list-style-type: none;
    display: flex;
}

footer li {
    margin-right: 8px;
}

footer .col-50.left {
    flex-direction: column;
    justify-content: center;
}

footer .col-50.right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

footer i {
    font-size: 15px;
}
